body
    link(rel='stylesheet', href='/site/coral.ru/css/main.less')
    section.hero.underbrow.kv
        article
            .contenu
                h2.h1
                    :typo
                        Путешествие в любимую Турцию
                p
                    :typo
                        Только лучшие предложения
                ul.usp
                    li
                        :typo
                            Отели на любой <br>бюджет
                    li
                        :typo
                            Широкий выбор <br>экскурсий
                    li
                        :typo
                            Горящие <br>предложения

    section.hero
        article
            .contenu
                p
                    :typo
                        Турция давно полюбилась нашим туристам. Оно и понятно! Широкий выбор проживания: от deluxe-отелей до роскошных вилл с собственным бассейном, курорты на любой вкус, уникальная концепция семейного отдыха Sun Family Club, выгодная программа лояльности CoralBonus, интереснейшие экскурсионные программы, а также горящие предложения для тех, кто хочет улететь в ближайшее время.
                p
                    :typo
                        На этой странице мы собрали для вас только лучшие предложения по турам в Турцию. Не упустите шанс отдохнуть на самых классных турецких курортах вместе с Coral Travel!

    section.hero.nav-filter
        article
            .contenu
                .nav-filter-grid
                    button Ультра всё включено
                    button Отели первой линии
                    button Горящие туры
                    button Отели 5*
                    button Отели 4*
                    button Отели 3*

    section.hero.why
        article
            .contenu
                h2 Летом в Турцию ехать стоит, чтобы:
                ul.why
                    li
                        .icon
                        .label
                            :typo
                                Купаться в прозрачных водах Средиземного и Эгейского морей
                    li
                        .icon
                        .label
                            :typo
                                Получить южный, бронзовый загар
                    li
                        .icon
                        .label
                            :typo
                                Погулять по руинам античных городов
                    li
                        .icon
                        .label
                            :typo
                                Запастись витаминами от спелых абрикосов, дынь и клубники
                    li
                        .icon
                        .label
                            :typo
                                Накататься вдоволь с крутых горок в аквапарке

    section.hero.pay-attention
        article
            .contenu
                h2 Обратите внимание
                ul.pay-attention
                    li
                        .visual(style='background-image: url(/site/coral.ru/assets/pay-att-sfc.jpg)'): span &nbsp;
                        .info
                            h3 Развивающий отдых с&nbsp;Sun&nbsp;Family&nbsp;Club
                            p
                                :typo
                                    Наслаждайтесь с отпуском пока ваш ребенок в надежных руках
                            .actions
                                a(href='https://www.coral.ru/sunfamilyclub/', target='_blank') Подробнее
                    li
                        .visual(style='background-image: url(/site/coral.ru/assets/pay-att-villas.jpg)'): span &nbsp;
                        .info
                            h3 Элитный отдых на&nbsp;виллах
                            p
                                :typo
                                    Приватные виллы, где все продумано до мелочей
                            .actions
                                a(href='https://www.coral.ru/concepts/villas-and-suits/', target='_blank') Подробнее
                    li
                        .visual(style='background-image: url(/site/coral.ru/assets/pay-att-installement.jpg)'): span &nbsp;
                        .info
                            h3 Туры в&nbsp;рассрочку
                            p
                                :typo
                                    Выбирайте удобные способы оплаты
                            .actions
                                a(href='https://www.coral.ru/poleznaya-informatsiya/onlinetour/payment/', target='_blank') Подробнее
                    li
                        .visual(style='background-image: url(/site/coral.ru/assets/pay-att-coralbonus.jpg)'): span &nbsp;
                        .info
                            h3 Наша программа лояльности CoralBonus
                            p
                                :typo
                                    Копите бонусы Coral Travel и оплачивайте ими до 100% вашего путешествия!
                            .actions
                                a(href='https://www.coral.ru/poleznaya-informatsiya/offers/coralbonus/', target='_blank') Подробнее


    script(type='module', src='/site/coral.ru/js/main.coffee')